@import './index.scss';

/* TEST STARTS HERE */

body {
  background-color: #f8f5f4;
}

.clientes {
  background-color: #fff !important;

  p {
    color: #2f2e2e;
  }
}

.footer {
  background-color: #2f2e2e !important;

  p,
  li {
    color: #f8f5f4;
  }
}

/* TEST ENDS HERE */

:root {
  --bs-gutter-x: 1rem;
}

.section-margin {
  margin-top: 7rem;
  margin-bottom: 7rem;

  @media (max-width: 575px) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 7rem;

  .headline-buttons {
    bottom: 60px;

    a {
      filter: drop-shadow(2px 4px 6px black);
      font-weight: 500;
    }

    @media (min-width: 375px) {
      bottom: 75px;
    }

    @media (min-width: 964px) {
      bottom: 125px;
    }
  }

  .carousel-alt-btn {
    background-color: #00000038;

    &:hover {
      color: black;
      background-color: $primary;
    }
  }

  .carousel-heading {
    h1,
    p {
      max-width: 640px;
      text-align: center;
    }
  }

  @media (max-width: 575px) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.headline-carousel {
  .carousel-item > div {
    max-height: 573px;
    min-height: 448px;
  }

  img {
    object-fit: cover;
    filter: brightness(0.75);
  }

  .carousel-heading {
    bottom: 125px;

    h1 {
      filter: drop-shadow(2px 4px 6px black);
      font-weight: bold;
    }

    p {
      color: #d8d0d0;
      filter: drop-shadow(2px 4px 6px black);
      font-weight: bold;
    }

    @media (min-width: 375px) {
      bottom: 150px;
    }

    @media (min-width: 964px) {
      bottom: 250px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 8%;
  }
}

.review-carousel {
  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
  }
}
